<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">

<div layout:fragment="content">
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h2 class="text-center">List Of pengajuan</h2>
    
                <!-- tombol create -->
                    <button type="button" class="btn btn-success my-2" data-bs-toggle="modal" data-bs-target="#createPengajuan"
                    onclick="getBarang(),getUser()">
                        <i class="bi bi-plus-circle-fill"></i> Create pengajuan
                    </button>
                <!-- end tombol create -->
    
                <!-- start table -->
                <table id="table-pengajuan" class="table table-striped my-3">
                    <thead class="table-dark mt-3">
                    <tr>
                        <th>Id</th>
                        <th>Tanggal</th>
                        <th>Nama User</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    </tbody>
                </table>
                <!-- end table -->
    
                <!-- star modal create -->
                <div class="modal fade" id="createPengajuan" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Create Pengajuan</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mt-2">
                                <label class="form-label fw-bold ">Tanggal</label>
                                <input class="form-control" type="date" id="createDate">
                            </div>
                            <!-- <div class="mt-2">
                                <label class="form-label fw-bold ">Nama User </label>
                                <input class="form-control" type="number" id="createUserId">
                            </div> -->
                            <div class="mt-2">
                                <label class="form-label fw-bold ">Nama User</label>
                                <select id="createUserId" name="createUserId" class="form-select" aria-label="Default select example">
                                    </option>
                                </select>
                            </div>
                            <div class="mt-2">
                                <label class="form-label fw-bold ">Nama Barang</label>
                                <select id="createBarangId" name="createBarangId" class="form-select" aria-label="Default select example">
                                    </option>
                                </select>
                            </div>
                            <div class="mt-2">
                                <label class="form-label fw-bold ">Jumlah Barang </label>
                                <input class="form-control" type="number" id="createQuantity">
                            </div>
                            <input type="hidden" id="createStatusId">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btnCreatePengajuan">Save</button>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end modal create -->
    
                <!-- start update -->
                <div class="modal fade" id="updatePengajuanModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create pengajuan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="updateId">
                        <div class="mt-2">
                            <label class="form-label fw-bold" data-date-format="DD/MMM/YYYY">Tanggal </label>
                            <input class="form-control" type="date" id="updateDate">
                        </div>
                        <div class="mt-2">
                            <label class="form-label fw-bold ">User Name</label>
                            <input class="form-control" type="text" id="updateUsername" disabled readonly>
                        </div>
                        <input type="hidden" id="updateUserId">

                        <div class="mt-2">
                            <label class="form-label fw-bold ">Jumlah Barang</label>
                            <input class="form-control" type="text" id="updateQuantity" disabled>
                        </div>
                        <input type="hidden" id="updateBarangId" value="1">
                        <div class="mt-2">
                            <label class="form-label fw-bold ">Status</label>
                            <select id="updateStatusId" name="updateStatusId" class="form-select" aria-label="Default select example">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnUpdatePengajuan">Update</button>
                    </div>
                </div>
                </div>
            </div>
                <!-- end update -->
    
                <!-- start modal detail -->
                <div class="modal fade" id="detailPengajuanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="detailpengajuanlabel">Detail pengajuan</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mt-2">
                                <label class="form-label fw-bold "> Id</label>
                                <p id="pengajuan-id">Data Not Found</p>
                            </div>
                            <div class="mt-2">
                                <label class="form-label fw-bold "> Tanggal</label>
                                <p id="pengajuan-tanggal">Data Not Found</p>
                            </div>
                            <div class="mt-2">
                                <label class="form-label fw-bold ">Nama User</label>
                                <p id="pengajuan-user">Data Not Found</p>
                            </div>
                            <div class="mt-2">
                                <label class="form-label fw-bold ">Status Terkini</label>
                                <p id="pengajuan-status">Data Not Found</p>
                            </div>
                            <div class="mt-2">
                                <label class="form-label fw-bold ">Jumlah Barang</label>
                                <p id="pengajuan-quantity">Data Not Found</p>
                            </div>
                            <div class="mt-2">
                                <label class="form-label fw-bold d-flex justify-content-center">History</label>
                                <!-- <p id="pengajuan-status">Data Not Found</p> -->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Tanggal</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody id="pengajuan-history" name="pengajuan-history">
                                    <!-- <tr>
                                        <th scope="row">1</th>
                                    </tr> -->
                                    </tbody>
                                    </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end modal detail -->
    
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{js/pengajuan.js}"></script>
</th:block>
</html>